        <h3>Current Version (0.7b)</h3>
        <ul>
          <li><a href="http://sourceforge.net/projects/liveview/files/liveview/0.7b/LiveViewPublicInstallerv0.7b.exe/download">Installer<strong>EXE File</strong></a></li>
          <li><a href="http://sourceforge.net/projects/liveview/files/liveview/0.7b/LiveView_0.7b_Public_src.tar.gz/download">Download <strong>Source ZIP</strong></a></li>
          <li><a href="https://sourceforge.net/projects/liveview/files/liveview/0.7b/">View On <strong>SourceForge</strong></a></li>

        </ul>

